/* poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* latto */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* warna */
:root {
   --primary: #1e3a8a;
   --secondary: #2563eb;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: poppins, sans-serif;
   background-color: #f1f5f9;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   height: 100vh;
}

body::-webkit-scrollbar {
   display: none; /* Untuk Chrome, Edge, dan Safari */
}

.navbar-judul {
   font-family: latto, sans-serif;
   font-size: 15px;
   font-weight: 700;
   text-align: center;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 9999;
}

.navigation {
   align-items: center;
   justify-content: center;
   display: flex;
   justify-content: space-between;
   padding: 25px 6rem;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}

.judul-halaman {
   font-family: latto, sans-serif;
   color: #121212 ;
   font-size: 15px;
   font-weight: 900;
   position: sticky;
   z-index: 9999;
   top: 0;
   margin: 1px 0;
}

.menu {
   font-family: latto, sans-serif;
   list-style-type: none;
   display: flex;
   justify-content: space-between;
}


li a {
   text-decoration: none;
   position: relative;
   margin: 0 15px;
   font-size: 16px;
   color: #121212 ;
   font-weight: 600;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}

li a::after {
   content: "";
   display: block;
   border-bottom: 0.1rem solid #121212 ;
   position: absolute;
   bottom: -0.5rem;
   /*Adjustedtopositionthelinebelowthetext*/left: 0;
   right: 0;
   transform: scaleX(0);
   transform-origin: left;
   /*Ensuresthelinegrowsfromlefttoright*/transition: transform 0.3s ease-in-out;
   -webkit-transition: transform 0.3s ease;
   -moz-transition: transform 0.3s ease;
   -ms-transition: transform 0.3s ease;
   -o-transition: transform 0.3s ease;
}

li a:hover::after {
   transform: scaleX(1);
}

.contact{
   font-family: latto, sans-serif;
   color: #121212 ;
   font-size: 15px;
   font-weight: 900;
   text-align: center;
}

.contact a {
   text-decoration: none;
   border: 1px solid #121212 ;
   border-radius: 10px;
   padding: 15px;
   color: #121212 ;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}

.contact a:hover {
   background-color: #121212 ;
   color: #f1f5f9;
}

/* scroll class animation */

.navigation.scrolled {
   background-color: #121212; 
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navigation.scrolled li a {
   color: #f1f5f9;
}

.navigation.scrolled {
   background-color: #121212;  
   transition: background-color 0.3s ease-in-out;
}


.navigation.scrolled li a {
   color: #f1f5f9;  
}

.navigation.scrolled li a::after {
   content: "";
   display: block;
   border-bottom: 0.1rem solid #f1f5f9 ;
   position: absolute;
   bottom: -0.5rem;
   left: 0;
   right: 0;
   transform: scaleX(0);
   transform-origin: left;
}

.navigation.scrolled li a:hover::after {
   transform: scaleX(1);
}

.navigation.scrolled .judul-halaman {
   color: #f1f5f9;
}


/* Ubah style pada bagian contact (jika diperlukan) */
.navigation.scrolled .contact a {
   border-color: #f1f5f9;
   color: #f1f5f9;
}

.navigation.scrolled .contact a:hover {
   background-color: #f1f5f9;
   color: #121212;
}

/* end scroll class animation */

/* main area */

.main {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.isi-content{
   min-width: 100vh ;
   display: flex;
   flex-direction: column;
}



.hd-open{
   background-image: url("../img/server.jpg");
   font-family: latto, sans-serif;
   font-size: 20px;
   position: relative;
   text-align: center;
   color: #F1F5F9;
   z-index: 2;
   min-height: 85vh;
   position: relative;
   margin: 9rem 5rem 0.5rem 5rem;
   object-fit: cover;
   border-radius: 20px;
   background-size: cover;
   background-position: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #F1F5F9;
}

.hd-open::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(to right, rgba(0, 0, 0, 1) , rgba(0, 0, 0, 0)50%);
   border-radius: 20px;
   z-index: -1;
}


.jd-1{
   font-size: 3.1rem;
}

.pg-1{
   width: 45rem;
   text-align: justify;
   line-height: 2rem;
}
.btn-1{
   display: flex;
   border-radius: 10px;
   padding: 10px 20px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   box-shadow: none !important;
}

.btn-1 a{
   text-decoration: none;
   font-size: 18px;
   color: #121212;
}

.all-page {
   overflow: hidden;
   flex-direction: column; /* Add this line to make allpage-jdl above pg-pgall */
}

.allpage-jdl{
   color: #121212;
   display: flex;
   margin-top: 5rem;
   font-size: 3rem;
   text-align: center;
   justify-content: center;
}

.parent {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(5, 1fr);
   gap: 8px;
   width: calc(100% - 8rem);
   height: 100vh;
   margin: 0 auto 3rem;
   color: #f1f5f9;
   border-radius: 20px;
}
   
.About-grid {
   grid-column: span 2 / span 2;
   grid-row: span 2 / span 2;
   grid-column-start: 1;
   background-image: url(../img/cloud-storage-banner-background-remixed-from-public-domain-by-nasa.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
   text-decoration: none;
   overflow: hidden;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}

.About-grid:hover {
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
   z-index: 30;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.About-grid::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(0deg, rgba(1, 1, 1, 0.5) 40%, rgba(0, 0, 0, 0) 80%);
   z-index: 1;
   border-radius: inherit;
}

.abt-grd-hd,
.abt-grd-pg {
   text-align: left;
   margin: 0 3rem;
   line-height: 2.5rem;
   display: flex;
   position: relative;
   top: 15rem;
   z-index: 2;
}

.abt-grd-hd{
   font-size: 40px;
}

.Threat-grid {
   grid-row: span 3 / span 3;
   grid-column-start: 1;
   grid-row-start: 3;
   background-image: url(../img/female-hacker-with-her-team-cyber-terrorists-making-dangerous-virus-attack-government.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   height: 100%;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}

.Threat-grid:hover{
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
   z-index: 30;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Threat-grid::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(0deg, rgba(1, 1, 1, 0.5) 40%, rgba(0, 0, 0, 0) 80%);
   z-index: 1;
   border-radius: inherit;
}

.tht-grd-hd,
.tht-grd-pg {
   text-align: left;
   margin: 0 3rem;
   line-height: 2.5rem;
   display: flex;
   position: relative;
   top: 27rem;
   z-index: 2;
}

.tht-grd-hd{
   font-size: 40px;
}

.Implementation-grid {
   grid-column: span 2 / span 2;
   grid-row: span 3 / span 3;
   grid-column-start: 2;
   grid-row-start: 3;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-image: url(../img/hacker-arriving-secret-base-with-laptop-ready-start-programming-viruses.jpg);
   position: relative;
   height: 100%;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}

.Implementation-grid:hover{
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
   z-index: 30;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Implementation-grid::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(0deg, rgba(1, 1, 1, 0.5) 40%, rgba(0, 0, 0, 0) 80%);
   z-index: 1;
   border-radius: inherit;
}

.imp-grd-hd,
.imp-grd-pg {
   text-align: left;
   margin: 0 3rem;
   line-height: 2.5rem;
   display: flex;
   position: relative;
   top: 27.5rem;
   z-index: 2;
}

.imp-grd-hd{
   font-size: 40px;
}

.News-grid {
   grid-row: span 2 / span 2;
   grid-column-start: 3;
   grid-row-start: 1;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-image: url(../img/kevin-horvat-Pyjp2zmxuLk-unsplash.jpg);
   position: relative;
   height: 100%;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}

.News-grid:hover{
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
   z-index: 30;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.News-grid::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(0deg, rgba(1, 1, 1, 0.5) 40%, rgba(0, 0, 0, 0) 80%);
   z-index: 1;
   border-radius: inherit;
}

.nws-grd-hd,
.nws-grd-pg {
   text-align: left;
   margin: 0 3rem;
   line-height: 2.5rem;
   display: flex;
   position: relative;
   top: 15rem;
   z-index: 2;
}

.nws-grd-hd{
   font-size: 40px;
}

.tools-grid {
   grid-row: span 3 / span 3;
   grid-column-start: 4;
   grid-row-start: 1;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-image: url(../img/view-cartoon-animated-3d-penguin.jpg);
   position: relative;
   height: 100%;
   transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}

.tools-grid:hover{
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
   z-index: 30;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tools-grid::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(0deg, rgba(1, 1, 1, 0.5) 40%, rgba(0, 0, 0, 0) 80%);
   z-index: 1;
   border-radius: inherit;
}

.tls-grd-hd,
.tls-grd-pg {
   text-align: left;
   margin: 0 3rem;
   line-height: 2.5rem;
   display: flex;
   position: relative;
   top: 27rem;
   z-index: 2;
}

.tls-grd-hd{
   font-size: 40px;
}

.case-grid {
   grid-row: span 2 / span 2;
   grid-column-start: 4;
   grid-row-start: 4;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-image: url(../img/arian-darvishi-wh-RPfR_3_M-unsplash.jpg);
   position: relative;
   height: 100%;
      transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}

.case-grid:hover{
   transform: scale(1.1);
   -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
   z-index: 30;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.case-grid::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: linear-gradient(0deg, rgba(1, 1, 1, 0.5) 40%, rgba(0, 0, 0, 0) 80%);
   z-index: 1;
   border-radius: inherit;
}

.cs-grd-hd,
.cs-grd-pg {
   text-align: left;
   margin: 0 3rem;
   line-height: 2.5rem;
   display: flex;
   position: relative;
   top: 14.5rem;
   z-index: 2;
}

.cs-grd-hd{
   font-size: 40px;
}

/* footer */

footer{
   margin: 0 5rem;
}

.top-footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 0;
   border-top:1px solid #121212;
   border-bottom:1px solid #121212;
}

.jd-footer{
   font-weight: 600;
   max-width: 20rem;
}

.logo-ti{
   width: 100px;
   margin: 0 2rem;
}

.contact-social{
   margin-left: 30rem;
}

.social-media{
   display: flex;
   align-items: center;
}

.social-media a{
   margin: 0 20px;
   font-size: 30px;
   position: relative;
   right: 20px;
   color: #121212;
}

.list-footer{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.list-footer li{
   margin: 15px 0;
}

.menu-footer-2{
   display: flex;
   flex-direction: column;
   position: relative;
   bottom: 0.8rem;
}

.menu-footer-2 li{
   margin-bottom: 1px;
}

footer li{
   text-decoration: none;
   list-style: none;
   align-items: center;
}

.privacy{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   font-size: 15px;
   color: #121212;
   margin: 1rem 0;
   padding-bottom: 1rem;
}

.a-privacy a{
   text-decoration: none;
   color: #121212;
}


/* mediaquery */

